@import url(http://fonts.googleapis.com/css?family=Cabin:400);

.webdesigntuts-workshop {
	background: #FFF;
	height: 20px;
	position: relative;
	text-align: center;
	width: 100%;
}

.line {
    margin: auto;
    width: 50%;
    padding: 10px;
    display:inline;
}
select {

    background-color: #111111; /* fallback color if gradients are not supported */
    border: 1px solid #AAA;
    border-radius: 20px;
    color: #FFF;
    font-size: inherit;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    height:50px;
    width:100px;
}

.table {
	margin: 0 0;
	margin-right: 10%;
	padding: 80px;
	border-collapse: initial
}
.webdesigntuts-workshop form {
	background: #111;
	background: linear-gradient(#1b1b1b, #111);
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #272727;
	display: inline-block;
	font-size: 0px;
	margin: 0px 0 0;
	padding: 15px;
	position: relative;
	z-index: 1;
	width:100%;
}

.webdesigntuts-workshop input {
	background: #222;	
	background: linear-gradient(#333, #222);	
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	width: 200px;
	-webkit-autofill {
    color: #111111 !important;
}
}

.center {
	margin: 0 25%;
}

.webdesigntuts-workshop select{
	background: #222;	
	background: linear-gradient(#333, #222);	
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	width: 200px;
	-webkit-autofill {
    color: #111111 !important;
}
.webdesigntuts-workshop button {
	background: #222;
	background: linear-gradient(#333, #222);
	box-sizing: content-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 10px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}	

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	color: #111;
	outline: none;
}

.webdesigntuts-workshop button:active {
	background: #292929;
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

